extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Login
block pageEscaped
    script(src='file://scripts/login-index.ts')
    img(class='special-corner' src='file://images/login-globe.png')