extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Update Password
block pageEscaped
    script(src='file://scripts/login-passwordupdate.ts')
    img(class='special-corner' src='file://images/login-globe.png')