extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Reset Password
block pageEscaped
    script(src='file://scripts/login-passwordreset.ts')
    img(class='special-corner' src='file://images/login-globe.png')