extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Signup
block pageEscaped
    script(src='file://scripts/login-signup.ts')
    img(class='special-corner' src='file://images/login-globe.png')