extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Verify Email
block pageEscaped
    script(src='file://scripts/login-verifyemail.ts')
    img(class='special-corner' src='file://images/login-globe.png')