extends ../_TemplateSpecial
block pageHeader
    title suzzy games - Verify Login
block pageEscaped
    script(src='file://scripts/login-verifylogin.ts')
    img(class='special-corner' src='file://images/login-globe.png')