:root {
    --accent: #4d58ff;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

a,
p {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    color: #f0f0f0;
    padding: 0 16px;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
}

/* Layout */

div.layout-section {
    width: 100%;
    max-width: 640px;
    margin: 16px auto;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
}

img.article-banner {
    width: 100%;
    image-rendering: pixelated;
    aspect-ratio: 3.4;
}

/* Effects */

.effect-caution {
    position: relative;
    border: 4px solid var(--accent);
    background-color: black;
    margin-bottom: 12px;
    margin-right: 12px;
}

.effect-caution::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: -16px;
    bottom: -16px;
    box-sizing: border-box;
    filter: brightness(0.5);
    background: repeating-linear-gradient(45deg, var(--accent) 0, var(--accent) 8px, black 8px, black 16px);
    clip-path: polygon(calc(100% - 11px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(100% - 11px), calc(100% - 11px) calc(100% - 11px));
}

.effect-rhombus {
    position: relative;
    font-weight: 500;
    padding: 0 16px;
    z-index: 1;
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
}

.effect-rhombus::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: var(--accent);
    z-index: -1;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    div.layout-section {
        margin: 0;
    }

    .effect-caution::before {
        display: none;
    }
}