body {
    margin: 32px;
    padding: 0;
}

/* Layout */

div.layout-buttons {
    margin: 32px 0;
}

div.layout-document {
    position: relative;
    width: 11in;
    height: 8.5in;
    border: 2px solid black;
}

img.page-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Certificate */

span {
    position: absolute;
    background-color: white;
    color: red;
}

span#name {
    left: 3.75in;
    top: 3in;
    font-size: 2em;
    width: 3.5in;
    text-align: center;
}

span#cheat {
    left: 3.95in;
    top: 1in;
    font-size: 3em;
}

span#time {
    left: 6in;
    top: 4in;
}

span#date {
    left: 4.8in;
    top: 3.67in;
    padding: 0 32px;
}

/* Printing Fixup */
@media print {
    @page {
        size: letter landscape;
        margin: 0;
    }

    body {
        margin: 0;
    }

    .no-print {
        display: none !important;
    }
}