:root {
    --transition-time: 200ms;
    --animation-time: 200ms;
    --color-background: #1d1e2e;
    --color-text-default: #f0f0f0;
    --color-text-hint: #d0d0d0;
    --color-disabled: #212335;
    --color-inactive: #2d2f47;
    --color-active: #a1a8ff;
}

body {
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
}

p,
a {
    display: inline-block;
    color: var(--color-text-default);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a {
    border-radius: 8px;
    border: 2px solid var(--color-inactive);
    padding: 4px 8px;
    min-width: 120px;
    cursor: pointer;
    margin: 0 8px;
}

a:hover,
a:focus-visible {
    border-color: var(--color-active);
}

.text-tip {
    font-size: small;
}

.text-hidden {
    color: var(--color-text-hint);
}

/* Layout */

div.layout-container {
    margin: auto;
    width: fit-content;
    padding: 16px;
    box-sizing: border-box;
}

div.layout-header {
    display: grid;
    text-align: center;
}

div.picross-row {
    display: flex;
    gap: 4px;
}

div.layout-content {
    display: grid;
    gap: 4px;
    padding: 32px 0;
    justify-content: center;
}

p.picross-hint {
    color: var(--color-text-hint);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

button.picross-button {
    transition: var(--animation-time) ease-in-out background-color;
    background-color: var(--color-inactive);
    width: 24px;
    height: 24px;
    border: none;
}

button.state-active {
    background-color: var(--color-active) !important;
}

button.state-ignore {
    background-color: var(--color-disabled) !important;
}

div.layout-footer {
    text-align: center;
}

p.layout-timer {
    padding: 16px 0;
}

/* Mobile */