<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4D58FF">
    <meta name="description" content="Secret Webpage #1">
    <title>panca.kz - About Sprites (Secret #1)</title>
    <link rel="stylesheet" href="/public/fonts/poppins.css?v={{ .Version }}">
    <link rel="stylesheet" href="/public/secret/sprites/main.css?v={{ .Version }}">
</head>

<body>

    <!-- Article -->
    <div role="main" class="layout-section effect-caution">
        <p class="effect-rhombus">A Trip to the Zoo</p>
        <img fetchpriority="high" class="article-banner" alt="A group of sprites" src="/public/secret/sprites/banner.gif?v={{ .Version }}">
        <p class="article-paragraph">
            <b>Welcome to the Sprite Garden, everyone!</b> Please do watch your step!
        </p>
        <p class="article-paragraph">
            This domain is inhabited by spiritual creatures known as Sprites, most likely
            nicknamed for their small stature. At first glance they may seem unimpressive,
            but in reality, they’re bursting with creative energy! They are the souls
            of the creative, unable to properly express their artistic desires they reside here.
            Under the protection of Boo, the grand entity, they are free to chase their hyperfixations
            until satisfied, after which they’ll reincarnate having discovered another dream to chase.
        </p>
        <p class="article-paragraph">
            They’re mostly harmless, if a little mischievous! Now come along, little ones,
            we have much more to see today!
        </p>
        <a href="/">&lt; Go Home</a>
    </div>

    <!-- Sprites -->
    <div role="banner" class="layout-section" style="justify-content: center;">
        <canvas id="sprites"></canvas>
        <audio id="active" hidden src="/public/secret/sprites/pop.webm?v={{ .Version }}"></audio>
        <audio id="bounce" hidden src="/public/secret/sprites/pop.webm?v={{ .Version }}"></audio>
        <script src="/public/secret/sprites/main.js?v={{ .Version }}" defer></script>
    </div>

</body>

</html>