<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4D58FF">
    <meta name="description" content="Cheater!">
    <title>panca.kz - Boo Picross (Secret #2)</title>
    <link rel="stylesheet" href="/public/secret/picross/award.css?v={{ .Version }}">
</head>

<body>

    <!-- Certificate -->
    <div class="layout-buttons no-print">
        <button onclick="javascript:window.location.assign('/')">Done</button>
        <button onclick="javascript:print()">Print</button>
    </div>
    <div class="layout-document" style="opacity: 0;">
        <span id="cheat"></span>
        <span id="name"></span>
        <span id="time"></span>
        <span id="date"></span>
        <img class="page-background" src="/public/secret/picross/template.png?v={{ .Version }}">
    </div>

    <script src="/public/secret/picross/award.js?v={{ .Version }}" defer></script>

</body>

</html>